<h1>Welcome to Treeder!</h1>
<p>This is all about reading fast. Just paste your text in the box below and press the "Go" button.</p>
<div> button goes here</div>

<textarea id="user-input"> </textarea>
<div id="processing-result" ></div>
<input id="btn" type="button" value="go">

