<h1>Welcome to Treeder!</h1>
<p>This is all about reading fast. Just paste your text in the box below and press the "Go" button.</p>

<textarea id="user-input">This is a sample text to read fast. In order to read faster than usual press the "Go" button and watch at the greybox area.</textarea>
<div id="processing-result" ></div>
<input id="btn" type="button" value="Go">