<% unless  user_signed_in? %>
  <%= render "shared/reading_block" %>
<% else %>
  <div><h2><%= current_user.email %></h2></div>
  <div>Completed texts: 
  	<% current_user.texts.each do |t| %>
  	  <%= link_to t.description, t %><%= "," if t!=current_user.texts.last  %>
  	<% end %>
  </div>
<% end %>

