<h1>
	<b>Statistics:</b>
</h1>
<div><b>Reading Speed:</b> <%=  @reading.speed%></div>
<div><b>Text length:</b> <%=  @reading.text.content.length %> characters</div>
<div><%= link_to "Back to all texts", texts_path %></div>
