// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$box-width: 400px;
$box-height: 200px;

#user-input {
	width: $box-width; 
	height: $box-height;
}

#processing-result {
	 width: $box-width; 
	 height: $box-height; 
	 background-color: #F7F7F7; 
	 margin-top:10px;
}

#btn{
	display: block;
}